@model ServerComponents
 <div  style="display:flex;justify-content:center;flex-direction:column">
       
   
<div style="display:flex;justify-content:center;">
    <div style="display:flex;flex-flow:column;width:300px; border:1px solid black;border-radius:10px;text-align:center;-webkit-box-shadow: 27px -13px 19px 0px rgba(2, 32, 54, 0.39);
                -moz-box-shadow: 27px -13px 19px 0px rgba(2, 32, 54, 0.39);
                box-shadow: 27px -13px 19px 0px rgba(2, 32, 54, 0.39);">
    <form asp-action="CreateComponent" asp-controller="Component">
         <h3>Добавление компонента </h3>
       
            <div style="margin:8px">               
                <input type="text" asp-for="TitleModel" placeholder="Название модели" />
            </div style="margin:8px">
            <div style="margin:8px">               
                <input type="number" asp-for="CountSlot" placeholder="Кол-во слотов" />
            </div>
            <div style="margin:8px">               
                <input type="number" asp-for="NumberOfcores" placeholder="Количество ядер" />
            </div>
            <div style="margin:8px">              
                <input type="text" asp-for="MemoryType" placeholder="Тип памяти"/>
            </div>
            <div style="margin:8px">
                <button style="margin-bottom:10px;width:70%;" class="btn btn-success">Добавить</button>
            </div>
       
    </form>
     </div>
</div>

 </div>